@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill-remaining-space {
    flex: 1 1 auto;
}
md-icon{
    font-family: 'Material Icons' !important;
  }

  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}