.create-deployment-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.mat-checkbox ~ .mat-checkbox {
    margin-left: 16px;
  }