# -f https://download.pytorch.org/whl/torch_stable.html
-f https://download.pytorch.org/whl/cpu
# -f https://download.pytorch.org/whl/cu121
# GPU Accelerated
# torchvision==0.11.1+cu113

torch==2.1.2
torchvision==0.16.2
torchinfo==1.8.0
pytorch-ignite==0.4.13


avro==1.11.3
confluent-kafka==2.3.0
requests==2.31.0


kafka-python==2.0.2
scikit-learn==1.4.2
seaborn==0.13.1
requests==2.32.0