-f https://download.pytorch.org/whl/torch_stable.html

# GPU Accelerated
# torchvision==0.11.1+cu113

# CPU Only
torch==1.10.0+cpu
torchvision==0.11.1+cpu

torchinfo==1.6.3
pytorch-ignite==0.4.7
avro==1.11.0
kafka-python==2.0.2
scikit-learn==1.0.2
seaborn==0.11.2
requests==2.27.1