<div class="container">
  <div class="header">
      <h1>Deployments <a *ngIf="configuration!=null"> of Configuration {{configuration.name}}</a> </h1>
    </div>
      <div class="filter-input">
        <mat-form-field >
          <input matInput [(ngModel)]="filtered_data" placeholder="Filter">
        </mat-form-field>
      </div>
      <br>
  <mat-grid-list cols="2">
  <mat-grid-tile *ngFor="let deployment of deployments | datafilter : filtered_data" >
      <mat-card class="dashboard-card"  >
        <mat-card-header>
          <mat-card-title>
           <h3>Deployment {{deployment.id}}</h3> <h6>{{deployment.time}}</h6>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item routerLink="/results/{{deployment.id}}/"><mat-icon>visibility</mat-icon><span class="nav-caption">Results</span></button>
              <button (click)="confirm(deployment.id)" mat-menu-item><mat-icon>delete</mat-icon><span class="nav-caption">Remove</span></button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">          
          <h3> Training results</h3>
          <div class="column" *ngFor="let result of deployment.results">
           
           <a [ngClass]="{'deployed': result.status=='deployed', 'created': result.status=='created',  'stopped': result.status=='stopped', 'finished': result.status=='finished'}"  mat-raised-button title="Result {{result.id}} status {{result.status}}"  routerLink="/results/{{deployment.id}}/">
           Model {{result.model.name}}, last change {{result.status_changed}}
           </a>
          
          </div> 
          <h3 class="h3-content">Configuration: </h3> <a mat-raised-button title="View/Edit Configuration {{deployment.configuration.name}}" routerLink="/configuration/{{deployment.configuration.id}}/">{{deployment.configuration.name}}</a> <br>
          <h3 class="h3-content">Batch size: </h3><p>{{deployment.batch}} </p><br>
          <h3 *ngIf="deployment.tf_kwargs_fit != ''" class="h3-content">TF Training arguments: </h3> <p> {{deployment.tf_kwargs_fit}} </p> <br *ngIf="deployment.tf_kwargs_fit != ''">
          <h3 *ngIf="deployment.tf_kwargs_val != ''" class="h3-content">TF Validation arguments: </h3> <p> {{deployment.tf_kwargs_val}} </p> <br *ngIf="deployment.tf_kwargs_val != ''">
          <h3 *ngIf="deployment.pth_kwargs_fit != ''" class="h3-content">PTH Training arguments: </h3> <p> {{deployment.pth_kwargs_fit}} </p> <br *ngIf="deployment.pth_kwargs_fit != ''">
          <h3 *ngIf="deployment.pth_kwargs_val != ''" class="h3-content">PTH Validation arguments: </h3> <p> {{deployment.pth_kwargs_val}} </p> <br *ngIf="deployment.pth_kwargs_val != ''">
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>