.dashboard-card  {
  max-height: 400px;
  overflow-y: scroll;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 20px;
}
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: left;
    margin: 1rem;
  }
 
.h3-content, .mat-raised-button  {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
.header h1{
    display: inline;
    padding-top: .6rem;
    font-weight: 400;
    font-size: 30px;
}
.column .mat-raised-button{    
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.created{
    background: grey;
    color: white;
    
}

.deployed{
    background: #3F51B5;
    color: white;
}

.stopped{
    background: rgb(233, 48, 48);
    color: white;
}

.finished{
    background: green;
    color: white;
}

.filter-input {
  min-height: 64px;
  padding: 8px 24px 0;
  margin-top: 20px;
  background-color: #ededed;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

h6{
  font-weight:normal
}
