# -f https://download.pytorch.org/whl/torch_stable.html
-f https://download.pytorch.org/whl/cpu
# https://download.pytorch.org/whl/cu121

# CPU Only
# torch==2.1.2
# torchvision==0.16.2

torchinfo==1.6.3
pytorch-ignite==0.4.13
Flask==3.0.1
gunicorn==21.2.0