-f https://download.pytorch.org/whl/torch_stable.html

# GPU Accelerated
# torchvision==0.11.1+cu113

# CPU Only
torch==1.10.0+cpu
torchvision==0.11.1+cpu

torchinfo==1.6.3
pytorch-ignite==0.4.7
Flask==2.0.2
gunicorn==20.0.4 