/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 0;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  .container {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .mat-card {
    min-width: 150px;
    max-width: 500px;
  }
  

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .header {
    display: flex;
    margin-bottom: 1.5rem;
    padding: 0 0.4rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
    .header h1{
      display: inline;
      padding-top: .6rem;
      font-weight: 400;
      font-size: 30px;
    }
    
  .table-header {
    min-height: 64px;
    padding: 8px 24px 0;
    background-color: #ededed;
  }
  .mat-form-field {
    font-size: 14px;
    width: 80%;
  }

  textarea {
    resize: none;
  }

  .row-input {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
  }
  
  .row-buttons {
    display: flex;
    padding: 1rem 0;
  }
  
  .form-btn {
    margin-left: 0.5rem;
  }
  
  .full-width {
    width: 100%;
  }