/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 0;
  }
  
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
  .container {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

  .mat-card {
    min-width: 150px;
    max-width: 500px;
  }
  
  .full-width {
    width: 100%;
  }