.dashboard-card {
  overflow-y: scroll;
  min-height: 400px;
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 30px;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  margin: 1rem;
  height: 400px;
  width: 100%
}

.header {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 0 0.4rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h6{
  font-weight:normal
}

.header h1{
    display: inline;
    padding-top: .6rem;
    font-weight: 400;
    font-size: 30px;
  }
  
.mat-table {
  overflow: auto;
    width: 50%;
    padding-bottom: 20px;
}
th.mat-header-cell{

  height: 24px;
  padding-top: 10px;
}
td.mat-cell, td.mat-footer-cell {

  padding-top: 7px;
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-style: solid;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column .mat-raised-button{    
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}


.deployed{
  background: #3F51B5;
  color: white;
}

.filter-input {
  min-height: 64px;
  padding: 8px 24px 0;
  margin-top: 20px;
  background-color: #ededed;
}

.mat-form-field {
  font-size: 14px;
  width: 90%;
}

  .mat-card{
    padding: 00px;
  }