<mat-nav-list>
  <a mat-list-item routerLink="/models" (click)="onSidenavClose()">
    <mat-icon>dashboard</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/models" (click)="onSidenavClose()">
    <mat-icon>code</mat-icon> <span class="nav-caption">Models</span>
  </a>
  <a mat-list-item routerLink="/configurations" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon><span class="nav-caption">Configurations</span>
  </a>
  <a mat-list-item routerLink="/deployments" (click)="onSidenavClose()">
    <mat-icon>launch</mat-icon><span class="nav-caption">Deployments</span>
  </a>
  <a mat-list-item routerLink="/results" (click)="onSidenavClose()">
    <mat-icon>playlist_add_check</mat-icon><span class="nav-caption">Training</span>
  </a>
  <a mat-list-item routerLink="/inferences" (click)="onSidenavClose()">
    <mat-icon>cached</mat-icon><span class="nav-caption">Inference</span>
  </a>
  <a mat-list-item routerLink="/datasources" (click)="onSidenavClose()">
    <mat-icon>book</mat-icon><span class="nav-caption">Datasources</span>
  </a>
  <a mat-list-item routerLink="/visualization" (click)="onSidenavClose()">
    <mat-icon>timeline</mat-icon><span class="nav-caption">Visualization</span>
  </a>
</mat-nav-list>
