<mat-nav-list>
  <a mat-list-item routerLink="" (click)="onSidenavClose()">
    <mat-icon>dashboard</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/models" (click)="onSidenavClose()">
    <mat-icon>code</mat-icon> <span class="nav-caption">Models</span>
  </a>
  <a mat-list-item routerLink="/configurations" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon><span class="nav-caption">Configurations</span>
  </a>
  <a mat-list-item routerLink="/deployments" (click)="onSidenavClose()">
    <mat-icon>launch</mat-icon><span class="nav-caption">Deployments</span>
  </a>
  <a mat-list-item routerLink="/results" (click)="onSidenavClose()">
    <mat-icon>playlist_add_check</mat-icon><span class="nav-caption">Results</span>
  </a>
  <a mat-list-item routerLink="/datasources" (click)="onSidenavClose()">
    <mat-icon>timeline</mat-icon><span class="nav-caption">Datasources</span>
  </a>
</mat-nav-list>
