
.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.mat-column-inference, .mat-column-chart   {
  flex: 0 0 60px !important;
  white-space: unset !important;
}

.mat-column-manage,  .mat-column-download, .mat-column-status {
  flex: 0 0 50px !important;
  white-space: unset !important;
}

.created{
  color: grey;
    
}

.deployed{
    color: #3F51B5;
}

.stopped{
    color: rgb(233, 48, 48);
}

.finished{
    color: green;
}